@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color:lightslategray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calender {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 400px;
    border-radius: 30px;
    box-shadow: 0 0 10px black;
    overflow: hidden;
}

.left,
.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    background-color: orangered;
    box-shadow: 0 0 10px black;
}
.left {
    background-color:#fff;
}

.left .day {
    font-size: 10rem;
    font-weight: 700;
}

.left .week {
    font-size: 4rem;
    font-weight: 500;
}

.right .month {
    font-size: 3rem;
    font-weight: 700;
}

.right .year {
    font-size: 4rem;
    font-weight: 500;
}