@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(233,118,118,1) 0%, rgba(148,156,233,1) 100%);
    padding: 2% 4%;
}

h1{
    font-size: 3.5em;
    font-weight: 600;
    color: #9204f8;
    text-shadow: 4px 0px 8px #1d0a2b;
}

h1 img {
    width: 80px;
}

button {
    border: none;
    outline: none;
    width: 200px;
    height: 60px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 30px;
    background: #424261;
    margin-top: 1.5rem;
    box-shadow: inset 0px 0px 11px 10px #2b2b40;
    color: #fff;
}

button:hover{
    cursor: pointer;
    background: #2b2b40;
}

.input-div {
    display: flex;
    width: 100%;
    max-width: 650px;
    justify-content: center;
    align-items: start;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin: 40px 0;
}

.input-box {
    flex:1;
    max-width: 600px;
    min-height: 150px;
    background-color: #fff;
    color: #333;
    outline: none;
    text-align: left;
}

.input-div:hover {
    outline: 1.5px solid #9204f8;
    box-shadow: 0 0 15px #9204f8;
}

.delete-icon {
    width: 25px;
    cursor: pointer;
}
