@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bruno Ace SC', sans-serif;
}

body {
    background: url(./media/back.jpg) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 370px;
    height: 100%;
    max-height: 770px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px #fff;
    border-radius: 20px;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    color: #fff;
}

.back-icon,
.setting-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    font-size: 1.3rem;
}

.album-image {
    width:100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.album-image img {
    width: 280px;
    height: 280px;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px black);
}

.song-pannel {
    width: 93%;
    height:250px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 20px;
    background-color: #0000003b;
    box-shadow: 0 0 20px 8px #00000096;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}

.song-track {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.song-info {
    width: 100%;
    color: #fff;
    filter: drop-shadow(0 0 10px #fff);
    display: flex;
    flex-direction: column;
}

.song-info h2,
.song-info p {
    margin: 5px 0;
}

.song-info h2 {
    font-size: 1rem;
}

.song-info p{
    font-size: 0.6rem;
}

.add-icon {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    color: #fff;
}

#progress {
    appearance: none;
    width: 100%;
    height: 6px;
    background-color: #78dde9;
    border-radius: 4px;
    cursor: pointer;
}

#progress::-webkit-slider-thumb {
    appearance: none;
    background: #78dde9;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 9px solid rgba(0, 0, 0, 0.997);
    box-shadow: 0 5px 5px rgba(15, 10, 66, 0.524)
}

.control-pannel {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    color: #78dde9;
    margin-top: 10px;
}

.control-pannel .left-icon,
.control-pannel .right-icon {
    font-size: 1.2rem;
}

.control-pannel .prev-icon,
.control-pannel .next-icon {
    font-size: 1.8rem;
}

.control-pannel .play-icon {
    font-size: 2.2rem;
}

.suffle-repeat {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.headphones {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 30px;
    width: 90%;
    height: 70px;
    margin: 0 auto;
    color: white;
    padding: 10px;
}