@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(160deg, rgba(20,55,5,1) 21%, rgba(0,3,114,1) 49%, rgba(75,23,2,1) 83%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.start-btn {
    width: 300px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 20px;
    outline: none;
    background: rgb(31, 31, 34);
    color: aqua;
    font-size: 1.6rem;
    box-shadow: 0 0 20px #fff;
}

.start-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #02c7f9;
}

.quiz-box {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(31, 31, 34);
    color: #fff;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    height: 80px;
}

.ques-ans-box {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
}

.option-box {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 450;
    background-color: rgb(163, 163, 167);
}

.btn:hover{
    background-color: #c2e3eb;
    cursor: pointer;
}

.wrong-ans{
    background-color: rgb(235, 107, 107);
    color: rgb(81, 9, 9);
}

.correct-ans{
    background-color: rgb(107, 235, 150);
    color: rgb(13, 53, 26);
}

.next-box {
    margin: 1rem 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#quest-tracer {
    font-size: 1.5rem;
    color: aqua;
}

.next-btn {
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: rgb(163, 163, 167);
}

.next-btn:hover {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1.5px solid #fff;
}

.result-box {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(31, 31, 34);
    color: #fff;
}

.exit-box {
    margin: 1rem 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.restart-btn {
    width: 146px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: rgb(163, 163, 167);
}

.restart-btn:hover {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1.5px solid #fff;
}

.exit-btn {
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: rgb(163, 163, 167);
}

.exit-btn:hover {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1.5px solid #fff;
}

.inactive {
    display: none;
}