*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button-box {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 50px;
}

.button-box button {
    width: 150px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.3rem;
    background-color: rgb(21, 21, 25);
    color: #fff;
}

.primary-btn:hover {
    background-color: rgb(0, 85, 255);
    color: #fff;
    box-shadow: 0 0 10px rgb(0, 85, 255);
}

.secondary-btn:hover {
    background-color: grey;
    color: #fff;
    box-shadow: 0 0 10px grey;
}

.success-btn:hover {
    background-color: green;
    color: #fff;
    box-shadow: 0 0 10px green;
}

.danger-btn:hover {
    background-color: red;
    color: #fff;
    box-shadow: 0 0 10px red;
}

.warning-btn:hover {
    background-color: orange;
    color: black;
    box-shadow: 0 0 10px orange;
}

.info-btn:hover {
    background-color: aqua;
    color: black;
    box-shadow: 0 0 10px aqua;
}

.light-btn:hover {
    background-color: #fff;
    color: black;
    border: 1.5px solid black;
    box-shadow: 0 0 10px grey;
}

.dark-btn:hover {
    background-color: black;
    color: #fff;
    box-shadow: 0 0 10px black;
}

.toast-box {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.toast {
    width: 450px;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin: 15px 0;
    position: relative;
    transform: translateX(100%);
    animation: moveLeft 0.5s linear forwards;
}

@keyframes moveLeft {
    100% {
        transform: translateX(0);
    }
}

.toast i {
    margin: 0 20px;
    font-size: 35px;
}

.primary i {
    color: rgb(0, 85, 255);
}

.secondary i {
    color: grey;
}

.success i {
    color: green;
}

.danger i {
    color: red;
}

.warning i {
    color: orange;
}

.info i {
    color: aqua;
}

.dark i {
    color: black;
}

.toast::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 5s linear forwards;
}

@keyframes anim {
    100% {
        width: 0;
    }
}

.primary::after {
    background: rgb(0, 85, 255);
}

.secondary::after {
    background: grey;
}

.success::after {
    background: green;
}

.danger::after {
    background: red;
}

.warning::after {
    background: orange;
}

.info::after {
    background: aqua;
}

.light::after {
    background:rgb(174, 218, 251);
}

.dark::after {
    background: black;
}
