@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}

.container {
    width: 100%;
    min-width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #f9224d 0%, #274af6 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 50px;
    color: #00e1ff;
    font-size: 3rem;
}


span {
    color: rgb(255, 149, 1);
}


textarea {
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 350px;
    border: none;
    outline: none;
    resize: none;
    background: black;
    box-shadow: 0 0 10px black;
    border-radius: 20px;
    color: aqua;
    padding: 20px;
    font-size: 25px;
}

.box {
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
}

select {
    flex: 1;
    height: 50px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: 0 0 10px black;
    background-color: dimgray;
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
    appearance: none;
}

button {
    width: 160px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    background-color: rgb(255, 149, 1);
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

.click {
    background-color: rgb(255, 149, 1);
    box-shadow: inset 0 0 5px 2px black;
}